@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
  overscroll-behavior-y: none;
  padding: 0.5rem;
}

.border-500 {
  border-radius: 500px;
}

.border-soft {
  border-radius: 10px;
}

.border-bottom__hide {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
