@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  overflow: hidden;
  max-height: 100vh;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #282828;
}

::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.1;
  transform: scale(1.1);
}

.border-500 {
  border-radius: 500px;
}

.border-soft {
  border-radius: 10px;
}

.border-bottom__hide {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-size {
  min-height: calc(100vh - 1rem);
}

.register-size {
  width: calc(100vw - 1rem);
}

.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(187px, 1fr));
  justify-items: center;
}

.main-height {
  height: calc(100vh - 5rem);
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
